 body {
        font: 15px sans-serif;
        font-family: Verdana;
        line-height: 1.8;
        color: #818181;
    }
    
    h1 {
        font-size: 22px;
        color: midnightblue;
        font-weight: 400;
        margin-bottom: 30px;
        margin-left: 60px;
        margin-top: 100px;
    }
    
    h2 {
        font-size: 24px;
        color: grey;
        font-weight: 600;
	margin-left: 80px;
        margin-bottom: 160px;
    }

    .jumbotron {
        background-color:lightblue;
        color: grey;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
    }

    .container-fluid {
        padding: 60px 50px;
    }
    .bg-grey {
        background-color: #f6f6f6;
    }
    .logo-small {
        color: darkblue;
        font-size: 50px;
    }

    .item span {
        font-style: normal;
    }

    .navbar {
        background-color:lightblue;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
        margin-bottom: 0%;
        margin-top: 0%;
        border-radius: 0;
    }
    .navbar li a, .navbar .navbar-brand {
        color: #818181;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
        color: darkblue ;
        background-color: #fff ;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #818181 ;
    }
    .div-position {
    	position:fixed;
    }
    footer {
      background-color: lightblue;
      height: 40px;
      bottom: 0;
      width: 100%;
      position: fixed;
    }
